DATABASE_USERNAME = postgres
DATABASE_PASSWORD = postgres
DATABASE_HOST = localhost
DATABASE_PORT = 5432
DATABASE_DATABASE = fcm
DATABASE_URL = "postgres://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_DATABASE}"
